/* SITE STYLES
 * ------------------------------------------------ */
body {
	background-image: url(../img/bg.svg);
}

::selection {
  background-color: $orange;
}
.clearitup {
  content: '';
  display: table;
  clear: both;
}
.highlight {
  font-style: italic;
}

.padRight20 {
  padding-right: 20px;
}

.intro {
  font-style:italic;
  font-weight:800;
}

/* site nav */
.sticker {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav {
	background-color: hsla(200, 25%, 90%, 0.5);
  border-top: $top-line solid $midTeal;

  ul {
    margin: 0;
    padding-top: $base-padding-lite;
		text-align: right;
		
		/* All Mobile Sizes (devices and browser) */
		@media only screen and (max-width: $tabletWidth - 1) {
			text-align: center;
		}
  }

  li {
    display: inline-block;
    font-family: $fontFamily;
    font-size: 1em;
		font-weight: 600;
    margin-right: 3%;
	  position: relative;
	}

	a {
		color: $darkTeal;
		
		&:hover,
		&:focus {
			@include link-ease(color);
			color: $fontColor;
			text-decoration: underline;
		}
	}
}

/*site heading*/
.site_head {
  margin-top: 5.5em;

  h1 {
	  font-size: 4em;
    font-weight: 900;
  }

  h2 {
	  font-size: 2em;
    font-weight: 300;
  }

  a {
    font-weight: 800;
  }
}

/* home */

.home_intro {
	font-size: 1.2em;
	margin-top: $base-padding-lite;
}

.home_main {
	border-top: 2px solid $midTeal;
	margin-top: $base-padding-lite;
	padding-top: $base-padding;
	
	p {
		line-height: .6;
		margin-bottom: $base-padding-mid;
		
		/* All Mobile Sizes (devices and browser) */
		@media only screen and (max-width: $tabletWidth - 1) {
			padding-top: $base-padding;
		}
	}
	
	ul li {
		list-style-position: outside;
		list-style-type: disc;
		margin-left: 1.8em;
		padding-bottom: $base-padding-lite;
		
		/* All Mobile Sizes (devices and browser) */
		@media only screen and (max-width: $tabletWidth - 1) {
			line-height: 1.2;
		}
	}
}

.home_subhead {
	margin-top: $base-padding;
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: $tabletWidth - 1) {
		margin-top: $base-padding-mid;
	}
}

.home_me {
  position: relative;
  z-index: 3;
	
  a {
    border-bottom: none;
  }
	
  h1 {
	  color: $red;
    display: none;
    font-weight: 800;
    font-size: 4.8em;
		left: 0;
    line-height: .8;
	  position: absolute;
    text-shadow: 5px 5px 0px rgba(23,148,142,0.7);
    top: 27%;
  }
	
	img {
		width: 100%;
	}
	
  &:hover h1, 
	&:focus h1, 
	&:hover img, 
	&:focus img {
    display: inline;
    margin-bottom: inherit;
    -webkit-filter: saturate(3.5);
    -moz-filter: saturate(3.5);
    filter: saturate(3.5);
  }
}

.home_me-clip {
  background: url(#clipping) no-repeat;
	-webkit-clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
	clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 100%, 0 100%, 0% 25%);
  overflow: hidden;
}

/* styling for blog posts on homepage */
.continue {
  margin-top: -20px;
  text-align: right;
}

.feature_image {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 112%;
}

.feature_post, .another_post, .post_inner {
  a:first-of-type {
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }
	
  h1 {
		font-size: 1.4em;
    line-height: 1.1;
    text-decoration: none;
		
    &:hover, 
		&:focus, 
		&:active {
      background-color: $orange;
      text-decoration: underline;
    }
  }
	
  p {
    line-height: 1.4;
  }
	
  ul {
    list-style: disc outside;
		margin-left: 1em;
    padding-left: $base-padding-mid;
  }
	
  li {
    line-height: 1.4;
  }
}

.feature_meta {
  p {
    font-size: .9em;
		margin-bottom: $base-padding-lite;
  }
}

.another_image {
  height: 160px;
  overflow: hidden;
  position: relative;
  width: 100%;
	
  img {
      margin: -350px 0 -400px 0;
  }
}

.another_post {
	background-color: $white;
  margin-bottom: 30px;
  padding: 0 0 $base-padding-lite 0;
	
  h1 {
		margin: 0;
    padding: $base-padding-mid $base-padding-mid $base-padding-mid 0;
  }
}

.another_meta {
  p {
    font-size: .9em;
  }
}

.another_post-container {
	margin: $base-padding $base-padding-big $base-padding $base-padding-big;
}

/* footer */
.footer-wrapper {
  background-color: $white;
  padding-bottom: $base-padding-big;
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: $tabletWidth - 1) {
		padding-left: $base-padding-lite;
    padding-right: $base-padding-lite;
	}

  h1 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: $base-padding-mid;
    margin-top: $base-padding-big;
  }

  p, ul {
    font-size: .9em;
    line-height: 1.3;
    margin-bottom: 10px;
  }
}

/* PAGE STYLES
 * ------------------------------------------------ */

/* styling for work */
.work_wrapper {
  margin-bottom: $base-padding-big;
	margin-left: -10px;
}

.work_post-bg {
	margin-bottom: $base-padding-big;
}

.work_post {
  background-color: $white;
	border: 2px solid $white;
  margin-bottom: 0;
	padding: 0;
	
	&:hover,
	&:focus,
	&:active {
	  border: 2px solid $red;
		
		h1 {
			text-decoration: underline;
		}
		
		p {
			color: $red;
		}
	}

  h1 {
    font-family: $headingFamily;
		font-size: 1.2em;
		margin: ($base-padding-lite * 2) $base-padding-lite ($base-padding-lite * 2) 0;
		
		/* All Mobile Sizes (devices and browser) */
		@media only screen and (max-width: $tabletWidth - 1) {
			font-size: 1.6em;
			margin: $base-padding-mid $base-padding-mid $base-padding-lite $base-padding-mid;
		}
  }

  p {
		font-size: .9em;
		line-height: 1.2;
		
		/* All Mobile Sizes (devices and browser) */
		@media only screen and (max-width: $tabletWidth - 1) {
			font-size: 1em;
			line-height: 1.3;
			margin-left: $base-padding;
		}
	}
}

.work_image {
  height: 100%;
}

/* styling for posts */
.post_feature {
  position: absolute;
  z-index: -10;
}

.post_feature_image_wrap {
  height: 75%;
	left: 0;
  margin-top: $top-line;
  overflow: hidden;
	position: absolute;
	right: 0;
	
  img {
	  height: auto;
    width: 100%;
  }
}

.site_head.post {
  h1 {
    color: $white;
    text-shadow: 5px 5px 0px rgba(23,148,142,0.7);
  }
}

.next_prev {
  font-size: .9em;
	margin-bottom: $base-padding-big;
	width: 100%;
	
	span:nth-child(1) a {
    float: left;
  }
  
	span:nth-child(2) a {
    float: right;
  }
}

.content + .next_prev {
  margin-bottom: $base-padding;
  margin-top: $base-padding;
}

.post_inner {
	background-color: $white;
  margin-top: 200px;
  margin-bottom: 100px;
	padding: $base-padding-big $base-padding-big $base-padding $base-padding-big;
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: $tabletWidth - 1) {
	  margin-top: 0;
	}
	
	h1 {
		font-size: 2.1em;
		margin-bottom: $base-padding-lite;
	}
}

.post_work {
  img {
    height: 100%;
		width: 100%;
  }
}

.image-credit {
	border-top: 1px solid $midTeal;
	font-size: .9em;
	margin-top: $base-padding-big;
	padding-top: $base-padding-mid;
}

/* styling for about */
.about_rule {
	border-bottom: 2px solid $midTeal;
}

.about_wrapper {
  margin-left: auto;
  margin-right: auto;
	max-width: 900px;
  padding: 100px 0;
  position: relative;
	
  &:after { /* center line */
	  border-left: 2px solid $midTeal;
    content:'';
    height: 100%;
    left: 49.7%;
    position: absolute;
    top: 0;
    width: 20px;
  }
	
  .about_box:nth-child(odd) {
	  clear: both;
    float: left;
		
    &:before {
		  border-color: transparent transparent transparent $white;
      left: 100%;
    }
		
    &:after {
      right: -43px;
      top: 42px;
    }
  }
	
  .about_box:nth-child(even) {
    clear: right;
    float: right;
    margin-top: 50px;
		
    &:before {
      border-color: transparent $white transparent transparent;
      right: 100%;
    }
		
    &:after {
      left: -49px;
      top: 42px;
    }
  }
}

.about_box {
  background-color: $white;
  margin-bottom: 20px;
  position: relative;
  width: 46%;
	
  &:before { /* triangle */
		border-style: solid;
		border-width: 16px;
    content: '';
    height: 0;
    position: absolute;
    top: 36px;
    width: 0;
  }
	
  &:after { /* dot */
		background: darken($linkColor, 10%);
    border-radius: 10px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 3px #fafafa;
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
    z-index: 1;
  }
	
  h1 {
    font-family: $fontFamily;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: .7em;
  }
	
  p {
    margin-bottom: 0;
  }
}

.about_text {
  padding: 25px;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: $tabletWidth - 1) {
	.about_wrapper {
		.about_box:nth-child(odd) {
			float: none;
			
			&:before {
			  border-color:  transparent transparent $white transparent;
				left: 48%;
			}
			
			&:after {
				left: 49%;
				right: 0px;
				top: -47px;
			}
		}
		.about_box:nth-child(even) {
			float: none;
			margin-top: 0;
			
			&:before {
			  border-color:  transparent transparent $white transparent;
				left: 48%;
			}
			
			&:after {
				left: 49%;
				top: -47px;
			}
		}
	}
	
	.about_box {
			margin-bottom: 95px;
			width: 98%;
			z-index: 1;
			
			&:before { /* triangle */
				top: -32px;
			}
	}
	
	.about_me {
			padding-top: 10px;
	}
}