---
layout: home
title: Home
description: "Michelle Hertzfeld is a web designer with specialties in science communications, open data and user experience. Making content and communications kinder and clearer since 2001."
---

{% include contact.html %}

<div class="sixteen columns alpha site_head" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div class="five columns alpha">
        <h1>Hi there!</h1>  
    </div>
    <div class="eight columns">
        <p>I'm Michelle. I design websites and user experiences. That means I specialize in clarity, structure and kindness. Read my thoughts here, or <a href="/work.html">see my latest work</a>. You can <a href="#home">say hello</a>, too!</p>
    </div>
    <div class="three columns omega contact">
        <div class="toggle bot"><a href="#">Close</a></div>
        <div class="toggle top"><a href="#home">Contact</a></div>
    </div>
</div>

<!-- display latest post big n' pretty -->
{% for post in site.posts limit:1 %}
    <article class="twelve columns alpha" itemscope itemtype="http://schema.org/BlogPosting">
        {% if post.image.feature %}
            <div class="latest_post">
                <img src="{{ site.url }}/assets/img/{{ post.image.feature }}" alt="{{ post.title }}" class="feature_image" itemprop="image">
                <div class="feature_post">
                    <h1 itemprop="headline">{{ post.title }}</h1>
                        <div class="feature_meta">
                            <p><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">Posted on <span class="highlight">{{ post.date | date_to_long_string }}</span></time> about <span class="highlight" itemprop="keywords">{{ post.tags | join: ', ' }}</span>.</p>
                        </div>
                    <div itemprop="articleBody">
                        <div class="excerpt">{{ post.content | split: '<!--more-->' | first }}</div>
                        {{ post.content | split: '<!--more-->' | last }}
                    </div>
                </div>
            </div>
        {% endif %}
    </article>
{% endfor %}
 
<!-- display four more posts smaller -->
    <article class="twelve columns alpha" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="moar">more posts, yee haw!</h1>
        {% for post in site.categories.thoughts limit:4 %}
            
            <div class="another_post">
                <div class="another_image">
                    <img src="{{ site.url }}/assets/img/{{ post.image.feature }}" alt="{{ post.title }}" itemprop="image">
                </div>
                <h1 itemprop="headline">{{ post.title }}</h1>
                <div class="another_meta">
                    <p><time datetime="{{ post.date }}" itemprop="datePublished">Posted on <span class="highlight">{{ post.date | date_to_long_string }}</span></time>.</p>
                </div>
                <div class="excerpt" itemprop="articleBody">
                    {{ post.content | split: '<!--more-->' | first }}
                </div>
                <div class="continue">
                    <a href="{{ post.url }}">&rarr; continue reading &rarr;</a>
                </div>
            </div>
            
        {% endfor %}
    </article>
    