---
layout: home
title: Thoughts
description: "Michelle Hertzfeld is a web designer with specialties in science communications, open data and user experience. Making content and communications kinder and clearer since 2001."
permalink: /thoughts/
---

{% include contact.html %}

<div class="sixteen columns alpha site_head" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div class="five columns alpha">
        <h1>Thoughts</h1>
    </div>
    <div class="eight columns">
        <p>Here's a list of my latest posts. I think on lots of things, but here I write mostly on technology and design.</p>
    </div>
    <div class="three columns omega contact">
        <div class="toggle bot"><a href="#">Close</a></div>
        <div class="toggle top"><a href="#home">Contact</a></div>
    </div>
</div>

<!-- display three latest posts with exerpts -->
    <article class="twelve columns alpha" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
        {% for post in site.categories.thoughts limit:10 %}
        <div class="another_post">
            <div class="another_image">
                <img src="{{ site.url }}/assets/img/{{ post.image.feature }}" alt="{{ post.title }}" itemprop="image">
            </div>
            <a href="{{ post.url }}"><h1 itemprop="headline">{{ post.title }}</h1></a>
            <div class="another_meta">
                <p><span class="highlight" itemprop="author">{{ post.author }}</span><time datetime="{{ post.date }}" itemprop="datePublished"> posted on <span class="highlight">{{ post.date | date_to_long_string }}</span></time> about <span class="highlight" itemprop="keywords">{{ post.tags | join: ', ' }}</span>.</p>
            </div>
            <div class="excerpt" itemprop="articleBody">
                {{ post.content | split: '<!--more-->' | first }}
            </div>
            <div class="continue">
                <a href="{{ post.url }}">&rarr; continue reading &rarr;</a>
            </div>
        </div>
        {% endfor %}
    </article>

<!--
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
-->
