---
layout: home
title: Work
description: "Michelle Hertzfeld is a UX designer, strategist, and team director with extensive experience making government digital services usable, effective, and efficient. This is her work."
permalink: /work/
---

<h1>Work</h1>
<p class="type_lede">My roles on projects vary. Sometimes I'm a one-person design-and-code operation. Sometimes I'm a specialist filling needs from user researcher to front end coder to product manager.</p>

<section class="g-home_work work_post-wrapper" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">

    {% for post in site.categories.work limit:8 %}
      <a href="{{ post.url }}">
        <article>

            {% if post.image.work %}
              <div class="work_post">
                <div class="work_image">
                  <img src="{{ site.baseurl }}/img/{{ post.image.work }}" alt="{{ post.title }}" itemprop="image">
                </div>

                <div class="work_words">
                  <h1>{{ post.title }}</h1>
                  <p class="highlight">{{ post.tags | join: ', ' }}</p>
                </div>

              </div>
            {% endif %}
        </article>
      </a>
    {% endfor %}
</section>
