---
layout: home
title: Michelle Hertzfeld &#8211; Web and UX Designer &#8211; Work
description: "Michelle Hertzfeld is a web designer with specialties in science communications, open data and user experience. Making content and communications kinder and clearer since 2001. This is her work."
permalink: /work/
---

<div class="sixteen columns alpha site_head">
    <div class="sixteen columns alpha">
        <h1>Work</h1>
    </div>
    <div class="twelve columns alpha">
        <p class="home_intro">My roles on projects vary, from complete design-and-code projects to user research specialist to team lead and product management.</p>
    </div>
</div>

<section class="work_wrapper row" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    {% for post in site.categories.work limit:8 %}
      <a href="{{ post.url }}">
        <article class="eight columns work_post-bg">
            {% if post.image.work %}
              <div class="work_post work_test row">
                  <img src="{{ site.baseurl }}/assets/img/{{ post.image.work }}" alt="{{ post.title }}" itemprop="image" class="work_image three columns alpha">
                  <div class="four columns omega">
                    <h1>{{ post.title }}</h1>
                    <p class="highlight">{{ post.tags | join: ', ' }}</p>
                  </div>
              </div>
            {% endif %}
        </article>
      </a>
    {% endfor %}
</section>
