---
layout: home
title: Michelle Hertzfeld &#8211; Web and UX Designer &#8211; Work
description: "Michelle Hertzfeld is a web designer with specialties in science communications, open data and user experience. Making content and communications kinder and clearer since 2001. This is her work."
---

<div id="contact" itemscope itemtype="http://schema.org/ContactPoint">
    <p class="contact"><span itemprop="email" class="padRight20">design@mhertzfeld.com</span> @meiqimichelle</p>
</div>

<div class="sixteen columns alpha site_head">
    <div class="five columns alpha">
        <h1>Work</h1>  
    </div>
    <div class="eight columns">
        <p>I've done full design-and-code projects (CSS3, HTML5, jQuery) as well as structural user flow work. I really love working on science and data communication and maps. <a href="/about.html">It all makes sense.</a></p>
    </div>
    <div class="three columns omega contact">
        <div class="toggle bot"><a href="#">Close</a></div>
        <div class="toggle top"><a href="#home">Contact</a></div>
    </div>
</div>

<!-- display work in three columns -->
<section class="work_wrapper" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    {% for post in site.categories.work %}
    <article class="five columns module">
        {% if post.image.work %}
        <div class="work_post">
            <a href="{{ post.url }}">
                <img src="{{ site.url }}/assets/img/{{ post.image.work }}" alt="{{ post.title }}" itemprop="image" class="work_image">
                <div class="work_hover">
                    <h1 class="work_title">{{ post.title }}</h1>
                    <div class="work_more"><p>+</p></div>
                    <p><span class="work_topics">{{ post.tags | join: '</span> <span class="work_topics">' }}</span></p>
                </div>
                <div class="work_more mobile"><p>+</p></div>
            </a>
        </div>
        {% endif %}
    </article>
    {% endfor %}
    <article class="five columns module">
        <div class="work_post">
            <p>Want your project to be the next box? <a href="mailto:design@mhertzfeld.com">Contact me</a> to talk shop.</p>
        </div>
    </article>
</section>
    
