<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>{{ site.title }}{% if page.title %} &#8211; {{ page.title }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<meta name="author" content="Michelle Hertzfeld">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="https://www.michellehertzfeld.com/feed.xml">

<!-- Meta cards
================================================== -->
<!-- Twitter Cards -->
{% if page.image.feature %}<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}/img/{{ page.image.feature }}">
{% else %}<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/img/{{ page.image.thumb }}{% else %}{{ site.url }}/{{ site.logo }}{% endif %}">{% endif %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@meiqimichelle">

<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="https://michellehertzfeld.com{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">
{% if page.image.feature %}
<meta property="og:image" content="{{ site.url }}/img/{{ page.image.feature }}">{% else %}
<meta property="og:image" content="{% if page.image.thumb %}{{ site.url }}/img/{{ page.image.thumb }}{% else %}{{ site.url }}/{{ site.logo }}{% endif %}">
{% endif %}

{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

<link rel="canonical" href="https://michellehertzfeld.com{{ page.url}}">
<link href="https://www.michellehertzfeld.com/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% if site.owner.google_plus %}<link rel="author" href="{{ site.owner.google_plus }}?rel=author">{% endif %}

<!-- Mobile Specific Metas
================================================== -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">

<!-- Webfonts
================================================== -->
<script type="text/javascript" src="//use.typekit.net/dbq0qfr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<meta http-equiv="cleartype" content="on">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- JS
================================================== -->
<script src="{{ site.url }}/assets/js/modernizr-2.6.2.min.js"></script>
<!-- GitHub Pages redirect -->
<script>
  if (window.location.href.indexOf('http://meiqimichelle.github.io') === 0) {
    window.location.href = 'https://michellehertzfeld.com{{ page.url }}';
  }
</script>

<!-- Favicons
================================================== -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ceeae7">
