<nav class="nav sticker" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="container">
        <ul class="sixteen columns">
            <li><a href="{{ site.baseurl }}/" itemprop="url"><div itemprop="name">Home</div></a></li>
            <li><a href="{{ site.baseurl }}/work" itemprop="url"><div itemprop="name">Work</div></a></li>
            <li><a href="{{ site.baseurl }}/thoughts" itemprop="url"><div itemprop="name">Thoughts</div></a></li>
            <li><a href="{{ site.baseurl }}/about" itemprop="url"><div itemprop="name">About</div></a></li>
        </ul>
    </div>
</nav>
