<nav class="nav sticker" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="container">
        <ul class="thirteen columns">
                <li><a href="{{ site.baseurl }}/" itemprop="url"><div itemprop="name">home</div></a></li>
                <li><a href="{{ site.baseurl }}/work" itemprop="url"><div itemprop="name">work</div></a></li>
                <li><a href="{{ site.baseurl }}/thoughts" itemprop="url"><div itemprop="name">thoughts</div></a></li>
                <li><a href="{{ site.baseurl }}/about" itemprop="url"><div itemprop="name">about</div></a></li>
        </ul>
    </div>
</nav>
