<div class="next_prev clearitup">
    {% for post in site.categories.thoughts %}
        {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
        {% endif %}
    {% endfor %}
    {% for post in site.categories.thoughts %}
        {% if post_index0 == forloop.index %}
            {% assign next_post = post.url %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post.url %}
        {% endif %}
    {% endfor %}
    {% if prev_post %}
        <span><a rel="prev" href="{{ site.baseurl }}{{ prev_post }}">&larr; previous post</a></span>
    {% endif %}
    {% if next_post %}
        <span><a rel="next" href="{{ site.baseurl }}{{ next_post }}">next post &rarr;</a></span>
    {% endif %}
</div>
