<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/jquery-1.10.2.min.js"><\/script>')</script>

<!-- hover for work page -->
<script>
jQuery(document).ready(function($){
    if ($(".toggle").css("box-shadow") == "none" ){
        $(".work_hover").hover(
            function () {
                $(this).animate({opacity:'0'});
            },
            function () {
                $(this).animate({opacity:'0'});
            }
        );
    }
    else $(".work_hover").hover(
            function () {
                $(this).animate({opacity:'1'});
            },
            function () {
                $(this).animate({opacity:'0'});
            }
        );
});
</script>

<!-- GitHub Pages redirect -->
<script>
  if (window.location.href.indexOf('http://meiqimichelle.github.com') === 0) {
  window.location.href = 'https://michellehertzfeld.com{{ page.url }}';
  }
</script>

{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
{% if site.disqus_shortname and page.comments %}{% include disqus_comments.html %}{% endif %}
