<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="about" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}

<div class="g-wrapper">
  <header class="g-header type_header"></header>

  {% include nav.html %}

  <div class="g-content type_home">

    <h1>About</h1>
    <p class="type_lede">I've done many things, but designing for clarity is a recurring theme. I especially care about science and data communication.</p>

  </div>

  <article class="g-about" role="main" itemscope itemprop="mainContentOfPage">

    {{ content }}

  </article>

  {% include footer.html %}

</div>

{% include scripts.html %}

</body>
</html>
