<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="home" itemscope itemtype="http://schema.org/WebPage" >

{% include browser-upgrade.html %}

<div class="g-wrapper">
  <header class="g-header type_header">
    <!-- <img src="/img/poly.png" alt="Geometric design made of triangles"> -->
    <!-- <h2>michelle<br>
      hertzfeld</h2> -->
  </header>

  {% include nav.html %}

  {% if page.title == "Writing" %}
    <article class="g-content type_writing" role="main" itemscope itemprop="mainContentOfPage">
  {% else %}
    <article class="g-content type_home" role="main" itemscope itemprop="mainContentOfPage">
  {% endif %}


    {{ content }}
  </article>

  {% include footer.html %}

</div>

{% include scripts.html %}

</body>
</html>
