<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="home" itemscope itemtype="http://schema.org/WebPage" >

{% include browser-upgrade.html %}
<!-- {% include nav.html %} -->


<div class="g-wrapper">
  <header class="g-header">My header</header>
  <nav class="g-nav">Nav</nav>
  <article class="g-content">
    <h1>2 column, header and footer</h1>
    <p>This example uses line-based positioning, to position the header and footer, stretching them across the grid. Change me!</p>
    <p>This example uses line-based positioning, to position the header and footer, stretching them across the grid. Change me!</p>
    <p>This example uses line-based positioning, to position the header and footer, stretching them across the grid. Change me!</p>
    <p>This example uses line-based positioning, to position the header and footer, stretching them across the grid. Change me!</p>
  </article>
  <!-- <footer role="contentinfo" itemscope itemtype="http://schema.org/WPFooter"> -->
    <div class="g-footer-left">
        Left
    </div>
    <div class="g-footer-center">
        Center
    </div>
    <div class="g-footer-right">
        Right
    </div>
  <!-- </footer> -->
</div>


<div id="main" class="container" role="main" itemscope itemprop="mainContentOfPage" >
  {{ content }}
</div>

<div class="footer-wrapper">
  <footer class="container" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    {% include footer.html %}
  </footer>
</div>

{% include scripts.html %}

</body>
</html>
